@model List<ToDo.Models.List>

@{
    ViewBag.Title = "List";
}

@Html.Partial("_Message")

<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Series
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
            <tr>
                <td>@list.Title</td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Detail", new { id = list.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
